body {
    background-color: peachpuff;
    align-items: center;
    display:flex;
    height:100vh;
    justify-content: center;
}

.box {
    background: purple;
    clip-path:circle(75%);
    height:200px;
    transition:clip-path 1s;
    width:200px;
}

.box:hover {
    clip-path: circle(25%);
}

